body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* INI BAGIAN NAVBAR */
nav {
    display: flex;
    position: fixed;
    transition: top 0.3s;
    top : 0;
    width: 100%;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid black;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ul-nav {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    border: 1px solid black;
    border-radius: 4px;
}

.ul-nav li {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
}

.ul-nav li:hover {
    background-color: rgb(207, 207, 207);
}

.ul-nav li a {
    text-decoration: none;
    color: black;
}

/* INI BAGIAN HEADER */
header {
    text-align: center;
    padding-top: 70px;
    margin: 3%;/
}

header img {
    width: 90%;
}

/* INI BAGIAN FASILITAS */
.facilities {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 3%;

}

.facilities .images {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.circle {
    width: 70px;
    height: 70px;
    border:2px solid black;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* INI BAGIAN MESSAGE US */
.form {
    padding: 3%;
    margin: 3%;
}

/* apapun */
.float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  

*{
box-sizing: border-box;
}
  
input[type=text], input[type=date], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
button {
    width: 100%;
    height: 20%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
button:hover {
    background-color: #000000;
    color: #ffffff;
}
  
.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

#subject {
    font-size: 115%;
    font-weight: bold;
    text-align: left; 
}
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
  
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* INI BAGIAN FOOTER */
footer {
    text-align: right;
    margin-right: 10px;
    padding-top: 490px;
    /* border-top: 2px solid black; */
}
  
/* INI BAGIAN RESPONSIF(APABILA DIBAWAH 600px) */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

    .float-child {
        width: 100%;
        float: left;
        padding: 15px;
    }

}